@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: #e7ecf1;
  font-family: sans-serif;
}
.foto-principal {
  width: 100%;
  height: 300px;
}

.logo {
  width: 100px;
  height: 100x;
  position: relative;
  border-radius: 50px;
  border: 5px solid white;
  bottom: 260px;
  left: 200px;
}

.informacoes {
  background-color: #ffffff;
  border-radius: 15px;
  position: relative;
  bottom: 60px;
  display: flex;
  flex-direction: column-reverse;
  order: 2;
  gap: 10px;
  color: black;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: 50px;
}

a {
  text-decoration: none;
  color: black;
}
h3 {
  margin-top: 30px;
}

.bi-geo-alt-fill {
  color: black;
}
.p-verde {
  color: #10b981;
  font-size: 12px;
}

.localizacao {
  display: flex;
  flex-direction: row;
  gap: 14px;
  color: #222c3a;
}

.local {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.calcular-taxa {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 3px;
  padding: 10px;
}

.conteudo-fixo {
  display: none;
}
#frete {
  padding: 10px;
  border-bottom: 1px dotted rgb(73, 72, 72);
}

.calculo {
  display: flex;
  flex-direction: row;
  border-bottom: 1px dotted rgb(73, 72, 72);
  justify-content: space-between;
  margin: 6px;
}
.entrega {
  font-size: 14px;
  background-color: #ffffff;
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  position: relative;
  bottom: 150px;
}

.sacola {
  display: none;
}

#situacao {
  display: none;
}
.bi-question-diamond {
  font-size: 16px;
}
.bi-chevron-right {
  color: rgb(192, 29, 170);
  position: relative;
  top: 15px;
}

.bi-gift {
  background-color: rgb(192, 29, 170);
  padding: 10px;
  font-size: 20px;
  color: white;
  border-radius: 20px;
}

.presente {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

h5 {
  font-size: 14px;
}
.fidelidade {
  display: flex;
  flex-direction: column;
  color: #191f29;
  gap: 10px;
  font-size: 14px;
  background-color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  position: relative;
  padding: 10px;
  bottom: 125px;
  border: 1px solid #e0e0e0;
}

.cupom {
  display: none;
}

.categorias {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: #1f2937;
  background-color: #ffffff;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  left: 10px;
  bottom: 100px;
  text-indent: 5px;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid #e0e0e0;
}

.pesquisar {
  background-color: #ffffff;
  width: 40px;
  font-size: 22px;
  position: relative;
  bottom: 135px;
  left: 350px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  color: #1f2937;
  border: 1px solid #e0e0e0;
}

.buscar {
  display: none;
}

h3 {
  color: #1f2937;
  position: relative;
  bottom: 135px;
  left: 15px;
}

h5 {
  font-size: 18px;
}

.img-destaque {
  width: 100%;
  height: 120px;
}

.p {
  color: #1b2025;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.destaques {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  column-gap: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

.mostrar-destaques {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 10px;
  position: relative;
  bottom: 120px;
  flex-wrap: nowrap;
  width: 460px;
}

.parte-bolos {
  margin-top: 40px;
}

.cardapio {
  background-color: #ffffff;
  display: flex;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;

  height: 160px;
}

.cardapio-foto {
  width: 120px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
}

.mostrar-cardapio {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  position: relative;
  bottom: 110px;
}

.preco {
  margin-top: 15px;
}

.rodape {
  background-color: #c01daa;
  color: white;
  padding: 15px;
  font-size: 14.94;
  text-align: center;
}

.pe {
  margin-bottom: 8px;
}

.icones {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

#tamanho {
  font-size: 25px;
}

.menu-pc {
  display: none;
}

@media (min-width: 768px) {
  body {
    width: 100%;
    margin: 0% auto;
  }
  .menu {
    display: none;
  }

  .menu-pc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    background-color: #c01daa;
    padding-bottom: 160px;
  }

  .icones {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    color: #ffffff;
  }
  a {
    color: #ffffff;
  }

  .foto-principal {
    width: 90%;
    align-self: center;
    height: 400px;
    margin: 0 auto;
    display: block;
    position: relative;
    bottom: 130px;
    border: 5px solid white;
    border-radius: 15px;
  }

  .logo {
    width: 175px;
    height: 175px;
    position: relative;
    border-radius: 1px;
    border: 10px solid white;
    bottom: 320px;
    left: 150px;
  }

  .informacoes {
    background-color: #e7ecf1;
    color: black;
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .mais-infor {
    color: black;
  }

  .localizacao {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 60px;
    left: 45px;
    color: #222833;
  }

  .p-verde {
    position: relative;
    bottom: 60px;
    font-size: 14px;
    left: 40px;
  }
  .nome-site {
    font-size: 32px;
    position: relative;
    right: 455px;
    bottom: 100px;
    color: #151c25;
  }

  .fidelidade {
    width: 350px;
    position: relative;
    left: 940px;
    bottom: 750px;
  }

  .categorias {
    position: relative;
    bottom: 790px;
    left: 70px;
    font-weight: bold;
  }

  .pesquisar {
    position: relative;
    bottom: 830px;
    left: 665px;
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 40px;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
    text-align: end;
    font-weight: bolder;
  }

  .buscar {
    font-size: 14px;
    display: inline;
  }

  h3 {
    position: relative;
    bottom: 570px;
    left: 70px;
  }

  .entrega {
    background-attachment: fixed;
    position: none;
    bottom: 220px;
    width: 350px;
    left: 940px;
    font-size: 11px;
    color: #3b424b;
    align-items: center;
    text-align: center;
  }

  .calcular-taxa {
    font-size: 12px;
    font-weight: bolder;
    align-items: center;
  }

  .sacola {
    display: inline;
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
    font-size: 18px;
    font-weight: 500;
    gap: 8px;
    margin: 0%;
    padding-bottom: 30px;
  }

  .bi-cart2 {
    font-size: 80px;
    color: #4b535e;
  }
  .cupom {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-bottom: 8px;
    font-size: 13px;
    border-bottom: 1px dotted rgb(73, 72, 72);
    border-top: 1px dotted rgb(73, 72, 72);
    padding-left: 15px;
    padding-top: 8px;
    gap: 10px;
  }

  .tem-cupom {
    display: flex;
    flex-direction: column;
  }
  .bi-ticket-perforated {
    font-size: 24px;
  }

  .ver-cupom {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
  }

  .chevron {
    font-size: 15px;
    position: relative;
    bottom: 280px;
    left: 110px;
  }

  .bi-chevron-right {
    font-size: 15px;
  }

  .site-destaque {
    position: relative;
    bottom: 810px;
    font-size: 22px;
  }

  .mostrar-destaques {
    position: relative;
    bottom: 785px;
    margin-left: 40px;
  }

  .descricao-pratos {
    width: 270px;
    height: 330px;
  }

  .img-destaque {
    height: 215px;
  }

  #situacao {
    background-color: #c01daa;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline;
  }

  .parte-bolos {
    margin-top: -170px;
  }

  .bolos-recheados {
    margin-top: -430px;
  }

  .doces-salgados {
    margin-top: -430px;
  }
  .title-doces {
    margin-top: 500px;
  }

  .mostrar-cardapio {
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(3, 0.5fr);
    display: grid;
    width: 920px;
    padding-left: 30px;
  }

  .alinhar-rodape {
    position: relative;
    display: flex;
    flex-direction: row;
  }
}
